#wrapper{
	width: 970px;
	height: 480px;
	background-color: #EEEEEE;
	position: relative;
	top: -3px;
	color: red;
	margin: auto;
}

.block{
	height: 45px;
	width: 45px;
	color: black;	
	position: absolute;
	vertical-align: top;
	display: inline-block;
}

.heading{
	color: red;
	line-height: 45px;
	text-align: center;
}

.element{
	height: 43px;
	width: 43px;
	font-size: 70%;
	text-align: center;
	border: solid 1px black;
}

.letter{
	font-size: 145%;
}

.blue{
	background-color: #689BFF;
}

.pink{
	background-color: #FD9A98;
}

.yellow{
	background-color: #FECB00;
}

.green{
	background-color: #1FCA21;
}